<% include ../partials/boilerplate %>

<a href='/auctions/add'>Sell something!</a>

<div class='auctions'>
  <% auctionsData.forEach(function(auction) { %>
    <div class='listing'>
      <h3><%= auction.item %></h3>
      <div class='meta'>
        <span class='description'><%= auction.description %></span>
        <span class='status'><%= auction.status %></span>
        <span class='categories'><%= auction.categories %></span>
      </div>
      <a href='/auctions/<%= auction.id %>'>Go to auction</a>
      <a href='/auctions/edit/<%= auctions.id %>'>Edit auction</a>
      <form method='POST' action='/auctions/<%= auction.id %>?_method=DELETE'>
        <input type='submit' value='Delete auction' />
      </form>
    </div>
  <% }) %>
</div>

<% include ../partials/end %>